<%-include('../plantillas/headU.ejs')%>
    <%for(var i = 0; i < 10; i++){%>
    <div class="row">
        <div class="col-lg-4 text-center">
            <img src="img/empresas/coca_cola.png" style="width: 200px;">
        </div>
        <div class="col-lg-8">
            <div class="row">
                <h1>Coca cola Busca Desarrollador Backed</h1>
            </div>
            <div class="row">
                <h3>Descripcion</h3>
                <p>
                    En el INE estamos buscando talento con los siguientes conocimientos y habilidades:

                    Desarrollo de servicios web REST. <br>
                    JAVA 8+, Spring Boot, Spring Security.<br>
                    Git, JUnit.<br>
                    Manejo PostgreSQL.<br>
                    Conocimiento general en SCRUM.<br>
                    Capacidad para investigar, proponer e implementar mejora de procesos<br>
                    Titulado, 3+ años de experiencia<br>
                    Ofrecemos:<br>
                    Trabajo Remoto<br>
                    $33,000 brutos<br>
                    Aguinaldo de 40 días (proporcionales)<br>
                    Ubicación de oficinas: Alvaro Obregón Ciudad de México<br>
                    Tipo de puesto: Tiempo completo<br>
                    Salario: $32,000.00 al mes<br>
                    Beneficios:<br>
                    Estacionamiento gratuito<br>
                    Trabajar desde casa<br>
                    Vacaciones superiores a las de ley<br>
                    Horario:<br>
                    Turno de 8 horas<br>
                    Consideraciones ante el COVID-19:<br>
                    El trabajo es 100% remoto, si se necesitara asistir a las oficinas por algún tramite se solicita llenar el formulario de salud para autorizar el acceso. El uso de cubre bocas es obligatorio en todo momento dentro de las instalaciones.<br>
                    Educación:<br>
                    Licenciatura terminada (Deseable)<br>
                    Experiencia:<br>
                    Java: 3 años (Deseable)<br>
                    JavaScript: 1 año (Deseable)<br>
                    Desarrolladores Android: 1 año (Deseable)<br>
                    Idioma:<br>
                    Inglés (Deseable)<br>
                </p>
            </div>
            <div class="row">
                <h3>Requisitos</h3>
                <p>
                    Java: 3 años (Deseable)
                    Inglés (Deseable)
                </p>
            </div>
            <div class="row">
                <h3>Sueldo</h3>
                <h5>de: 200$/h hasta 500$/h</h5>
            </div>
            <br>
            <br>
        </div>
    </div>
    <%}%>
<%-include('../plantillas/fooder.ejs')%>