<%-include('plantillas/head.ejs')%>

<div class="row align-content-center justify-content-center vh-100">
    <div class="row">
        <h1 style="text-align: center;">Conocenos</h1>
    </div>  

    <div class="row">
        <div class="col" style="text-align: center;">
             mision
             <div class="row">
                 Nuestra mision es dar una oportunidad a todos esos jovenes recien egresados de la carrera
             </div>
        </div>
        <div class="col" style="text-align: center;"> 
            valores
            <div class="row">
                Nuestra mision es dar una oportunidad a todos esos jovenes recien egresados de la carrera
            </div>
        </div>
        <div class="col" style="text-align: center;"> 
            vision
            <div class="row">
                Nuestra mision es dar una oportunidad a todos esos jovenes recien egresados de la carrera
            </div>
        </div>
    </div>    

    <div class="row" style="text-align: center; margin-top: 100px;">
        <div class="col">
            <h1> empresas asociadad</h1>
            <div class="row" >
                <div class="col">Canonical</div>
                <div class="col">Amazon</div>
                <div class="col">Google</div>
                <div class="col">Meta</div>
                <div class="col">Blender</div>
            </div>
        </div>
    </div>
</div>


<%-include('plantillas/fooder.ejs')%>