<%-include('plantillas/head.ejs')%>

<div class="row">
    <div class="col-lg-4">
        <div class="row" style="height: 500px;">
            <h1>Notificaciones</h1>
        </div>

        <div class="row">
        
        </div>

    </div>

    <div class="col-lg-8">
        <div class="row">
            <div class="row">
                <h1>Menu</h1>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h1>aprendizaje</h1>
                    </div>
                    <div class="row">
                        <a href="" class="btn">Compartir curso</a>
                    </div>
                    <div class="row">
                        <a href="" class="btn">Ver Cursos</a>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h1>laborar</h1>
                    </div>
                    <div class="row">
                        <a href="" class="btn">Ver ofertas laborales</a>
                    </div>
                    <div class="row">
                        <a href="" class="btn">Ver proyectos</a>
                    </div>
                    <div class="row">
                        <a href="" class="btn">Ver cursos</a>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h1>pacticar</h1>
                    </div>
                    <div class="row">
                        <a href="" class="btn">Ver proyectos libres</a>
                        <a href="" class="btn">proponer proyectos libres</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h1>Notificaciones</h1>
        </div>

    </div>
</div>


<%-include('plantillas/fooder.ejs')%>