    <div class="pie">
        <div class="redes">
            <a href="https://www.facebook.com">
                <img src="img/facebook.png">
            </a>
            <a href="https://www.instagram.com/">
                <img src="img/instagram.png">
            </a>
            <a href="">
                <img src="img/whatsapp.png">
            </a>
            <a href="https://twitter.com">
                <img src="img/gorjeo.png">
            </a>
        </div>
        <footer>
            <h1>© Copyright 2022 VCode - Todos los Derechos Reservados</h1>
            <h1>Última actualización: 04/03/2022</h1>
        </footer>
    </div>
</div>
</body>
</html>